    <!-- Formulář -->
    <div class="card shadow" *ngIf="editUserId >= 0">
        <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="id" class="form-label">ID uživatele {{ editUserId }}</label>
                    <input type="text" class="form-control" id="id" formControlName="id" placeholder="Zadejte ID uživatele" readonly>
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">Jméno</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Zadejte jméno">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Příjmení</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Zadejte příjmení">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Zadejte email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Heslo</label>
                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Zadejte heslo">
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <select class="form-select" id="role" formControlName="role">
                        <option value="">-- Vyberte roli --</option>
                        <option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Stav</label>
                    <select class="form-select" id="status" formControlName="status">
                        <option value="">-- Vyberte status --</option>
                        <option *ngFor="let status of status" [value]="status.name">{{ status.name }}</option>
                    </select>
                </div>

                <!-- Tlačítka -->
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Uložit</button>
                    <button type="reset" class="btn btn-secondary">Resetovat</button>
                </div>
            </form>
        </div>
    </div>
