      <!-- Tabulka uživatelů -->
      <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title mb-3 text-center text-md-start">Seznam uživatelů k editaci</h5>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>Jméno</th>
                            <th>Příjmení</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Stav</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{  user.firstName }}</td>
                            <td>{{  user.lastName }}</td>
                            <td>{{  user.email }}</td>
                            <td>{{  user.role }}</td>
                            <td>{{  user.status }}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
